@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

header{
    width: 100vw;
    min-height: 100vh;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.contaiener{
   background: white;
   max-width: 800px;
   min-height: 500px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 0.5rem 1.5rem;
  
   }
.contaiener:hover{
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
.left{
    flex-basis: 50%;
   
}
.right{
    flex-basis: 50%;
   
}
form{
    padding: 1rem;
}
h3{
    margin-top: 1rem;

}
input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
label{
    display: block;
}
.boton{
    width: 100%;
    padding: 0.7rem 1.5rem;
    background-color: rosybrown;
    color: white;
    border: none;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
}
.boton:hover{
    background:violet;
}

#link{
    text-decoration: none;
    color: white;
}











@media only screen and (max-width:770px){
    .contaiener{
        flex-direction: column;
    }
    body{
        overflow-x: hidden;
    }
}

