@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0%;
    margin:0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
   
}


nav{
    /* background-color: rgb(255, 197, 91); color naranja */
    /* background-color: rgb(176, 117, 230); color violeta */
    /* background-color: rgb(67, 67, 120); azul oscuro */
    /* background-color: rgb(255, 185, 56); */
    background-color: rgb(240, 131, 234);
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 5px 20px;
}
.logo{
    width:70px;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 7px;
    text-transform: uppercase;
    border-radius: 3px;
}
li a.active, li a:hover{
    background: rgb(112, 225, 168) ;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}

section{
    background-color: rgb(128, 7, 241);
    background: url(img/) no-repeat;
    background-size:cover;
    height: calc(100vh - 80px);
    margin-top:0px ;
    background-position: center center;
}


.a{
    text-decoration: none;
    color: black;
}











@media (max-width: 952px){
    /* .enlace{
        padding-left: 10px;
    } */
    nav ul li a{
        font-size: 16px;
    }
    section{
        background-position: center center;
    }
}


@media (max-width: 952px){
    /* .enlace{
        padding-left: 10px;
    } */
    nav ul li a{
        font-size: 16px;
    }
    section{
        background-position: center center;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(78, 250, 164);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 30px;
    }
    li a:hover, li a.active{
        background:none ;
        background-color: rgb(240, 131, 234);
    }
    #check:checked ~ ul{
        left:0;
    }
    section{
        background-position: center center;
    }
}
