@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin:0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.a{
    text-decoration: none;
}

nav{
    /* background-color: rgb(255, 197, 91); color naranja */
    /* background-color: rgb(176, 117, 230); color violeta */
    /* background-color: rgb(67, 67, 120); azul oscuro */
    /* background-color: rgb(255, 185, 56); */
    background-color: #29d85b;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 5px 20px;
}
.logo{
    width:70px;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 7px;
    text-transform: uppercase;
    border-radius: 3px;
}
li a.active, li a:hover{
    background: rgb(243, 245, 119);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: rgb(215, 4, 223) no-repeat;
    background-size:cover;
    height: calc(100vh - 80px);
    margin-top:0px ;
    background-position: center center;
}

#text{
    
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    
}


a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#card{
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 3%;
   
}
.card-text{
    padding-right: 3%;
    padding-bottom: 2%;}


    

   

@media (max-width: 952px){
    /* .enlace{
        padding-left: 10px;
    } */
    nav ul li a{
        font-size: 16px;
    }
    section{
        background-position: center center;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(243, 245, 119);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 30px;
    }
    li a:hover, li a.active{
        background:none ;
        background-color: #29d85b;
    }
    #check:checked ~ ul{
        left:0;
    }
    section{
        background-position: center center;
    }
}
